---
layout: "base.njk"
---

<nav class="bg-white h-12 flex items-center justify-between">
<h1 class="text-2xl font-bold p-2">CodeSeals</h1>
<a href="https://github.com/code-seals" class="p-3 bg-black text-white">
    <button class="font-bold font-mono">Github</button>
</a>
</nav>
<div class="grid lg:flex items-center font-mono">
  <div class="bg-[#7AD88D] min-h-screen w-full flex flex-col items-center justify-center p-2">
    <h1 class="text-4xl font-extrabold">CodeSeals Team</h1>
    <p class="text-center">
        The team of passionate developers shares their knowledge on YouTube and <a href="https://twitter.com/viki_code" class="underline">X</a>.
We also work on various <a class="underline" href="https://github.com/code-seals">Open-Source projects</a>.
    </p>
  </div>
  <div class="bg-[#FAE597] min-h-screen w-full  flex flex-col items-center justify-center p-2">
 <h1 class="text-9xl"> 🦭</h1>
  </div>
</div>
