---
layout: "base.njk"
---
<div class="max-w-3xl m-auto p-4 text-center">
  <h1 class="text-xl mb-5">CodeSeals Team</h1>
  <p>
    The team of passionate developers shares their knowledge on YouTube and
    <a href="https://twitter.com/viki_code" target="_blank">X</a>.<br>

    We also work on various
    <a href="https://github.com/code-seals" class="text-blue-700" target="_blank">Open-Source projects</a>.
  </p>
</div>
