---
layout: "base.njk"
---
<nav class="p-2 bg-white h-8 flex items-center ">
<h1 class="text-2xl font-bold">Logo</h1>
</nav>
<div class="grid lg:flex items-center font-mono">
  <div class="bg-[#7AD88D] min-h-screen w-full flex flex-col items-center justify-center p-2">
    <h1 class="text-4xl font-extrabold">CodeSeals Team</h1>
    <p class="text-center">
        The team of passionate developers shares their knowledge on YouTube and X.
We also work on various Open-Source projects.
    </p>
  </div>
  <div class="bg-[#FAE597] min-h-screen w-full  flex flex-col items-center justify-center p-2">
 <h1 class="text-9xl"> 🦭</h1>
  </div>
</div>
